@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Manrope:wght@200..800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Manrope", serif !important;
    font-weight: 400;
    font-size: 18px;
    background: #252526;
    color: #fff;
    /* min-height: 6000px; */
}

.mainNav {
    background: #3B3D3F;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.navMbutton {
    border: none;
    outline: none;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
    cursor: pointer;
}

.navMbutton span {
    display: block;
    width: 40px;
    height: 3px;
    background: #fff;
}

.navMedia {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navLang {
    border: none;
    outline: none;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    cursor: pointer;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
}

.navLang span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navLang span:nth-child(2) {
    opacity: 0.5;
    font-size: 10px;
}

.navListMenu {
    display: none;
    background: #252526;
}

.navListMenu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(59, 61, 63, 0.6);
}

.navLangList a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(59, 61, 63, 0.6);
}

.navListMenu a:last-child {
    border-bottom: none;
}

.navListMenuActive {
    display: block;
}

.navLangList {
    display: none;
    background: #252526;
}

.navLangListActive {
    display: block;
}

.header {
    min-height: 400px;
    background: url(../img/head.jpg) top center no-repeat;
    background-size: cover;
}

.container {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.containerF {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.headerContT1 {
    background: rgba(59, 61, 63, 0.75);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
}

.headerContT2 {
    font-size: 18px;
    text-align: center;
}

.headerContT3 {
    font-size: clamp(20px, 15vw, 115px);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 5px solid #00B0A4;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 0 0 20px rgba(0, 176, 164, 0.9), inset 0 0 10px rgba(0, 176, 164, 0.6);
}

.btn {
    border-radius: 10px;
    font-weight: 800;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    min-height: 64px;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
}

.btn:hover {
    opacity: 0.7;
}

.btn_gr {
    background: #00B0A4;
    border-bottom: 5px solid #00968D;
}

.contBlock {
    background: #3B3D3F;
}

.contBlock {
    display: flex;
    align-items: start;
    gap: 20px;
    align-items: normal;
}

.contBlock1 {
    font-size: 13px;
    padding: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.containerF2 {
    display: flex;
}

.contBlock2 {
    background: #2C2C2E;
    display: flex;
    align-items: center;
    padding: 10px;
}

.contBlock2 a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: relative;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9), inset 0 0 10px rgba(255, 255, 255, 0.6);
}

.contBlock2 a img {
    position: absolute;
    top: -100px;
    right: 0;
    animation: sway .3s ease infinite;
}

.contBlock2 a b {
    font-weight: 800;
}

.contBlock {
    margin-top: 100px;
}

@keyframes sway {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.section {
    padding: 65px 0;
}

.sec1 {
    background: url(../img/section.jpg) top center no-repeat;
    background-size: cover;
}

.secTitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    display: block;
    text-align: center;
}

.prMainIco {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.prMain {
    max-width: 572px;
    margin: 0 auto;
    border: 2px solid #C5C5C5;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #2C2C2E;
}

.prMainName {
    background: #3B3D3F;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* flex-wrap: wrap; */
}

.prMainName1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
}

.prMainName1 span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.prMainName2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    justify-content: center;
}

.prMainName2 span {
    font-size: 13px;
    border-radius: 5px;
    padding: 3px 10px;
}

.prMainSpRd {
    border: 3px solid #da5a54;
}

.prMainSpGr {
    border: 3px solid #00B0A4;
}

.prMainContT {
    line-height: 26px;
    background: #3B3D3F;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.prMainStat {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.prCarousel {
    margin-top: 55px;
}

.logoB {
    max-width: 60%;
}